* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.books-container {

  margin: 1em;
}

.book {
  padding: 1em 2em 1em 3em;
}

.book:nth-child(odd) {
  background-color: rgb(134, 134, 134);
}

.book:nth-child(even) {
  background-color: rgb(170, 170, 170);
}

.book hr {
  width: 100%;
}

.remove-btn {
  float: right;
  text-align: center;

}

.separator {
  width: 50px;
  margin: 0 auto;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.form-container-row {
  display: flex;
  margin: 0 auto;
  width: auto;
  height: auto;
}

.form-container-row .form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
  width: 350px;
  height: auto;
  text-align: center;
}

.form-container-row .form .title-input {
  width: 250px;
  height: 30px;
  margin: 0 auto;
}

.form-container-row .form .author-input {
  width: 250px;
  height: 30px;
  margin: 0 auto;
}

.form-container-row .form .add-input {
  align-self: flex-end;
  margin-right: 48px;
  padding: 5px;
  margin-bottom: 10px;
}


@media screen and (max-width: 768px) {
  .form-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .form-container-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}