* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.books-container {
  border: 2px solid #000;
  margin: 1em;
}

.book {
  padding: 1em 2em 1em 3em;
}

.book:nth-child(odd) {
  background-color: rgb(134, 134, 134);
}

.book:nth-child(even) {
  background-color: rgb(170, 170, 170);
}

.book hr {
  width: 100%;
}

.remove-btn {
  float: right;
  text-align: center;

}

.separator {
  width: 50px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
}

.form input {

}

.form-container {
  border: 1px solid black;
  width: 10%;
  margin: 0 auto;
}

.add-input {
  align-self: flex-end;
  margin-right: 10px;
}
